*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #ececec !important;
}
.navbar ul li{
    font-size: 12px;
    padding: 0px 17px;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-container button{
    outline: none;
    border: none;
    color: #fff;
    background-color: #f57224;
    width: 50px;
    height: 50px;
    border-radius: 2px;

}
.search-bar{
    background-color: #f3e0e0;
    padding: 13px 19px;
    border: none;
    outline: none;
    width: 50%;
    margin-left: 20px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.top-banner{
    background-color: #f7f7f7;
}

.card-title{
    font-size: 12px;
    margin-top: 10px;
}
.card-price{
    color: #f57224;
    font-size: 18px;
}
.daraz-mall button{
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(31, 134, 165);
    width: 350px;
    padding: 5px 0;
    color: rgb(31, 134, 165);
    font-weight: bold;
}
.footer-section{
    background-color: indigo;
}